.pdf__contenedor {
    height: 500px;
    margin: 0 auto;
    width: 90%;
}

@media screen and (min-width: 1024px) {
    .pdf__contenedor {
        height: 800px;
        margin: 0 auto;
        width: 880px;
    }
}